.bag{
    width: 500px;
    /* height: 200px; */
    height: 200px;
    /* border:2px solid red; */
    margin: 0 400px;
    margin-top: 100px;
    background-color: whitesmoke;
    box-shadow: 2px 2px black;
}
input{
    width: 300px;
    height: auto;
    
   
    
}
button{
    background-color: blue;
}
.card{
    margin-right: 500px;
    gap:100px
    
}
.check-box{
    margin-left: 200px;
    
    
}
